#op{
    border: 3px solid black;
    background-color:lightgreen;
    color: red;
    padding: 5px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: tomato;
}
p{
    margin: auto;
    border: 5px solid black;
    border-radius: 5px;
    padding: 8px;
}
#inc{
    color: red;
    background-color: black;
    margin-bottom: 2px;
    border-radius: 5px;
    width: 76px;
    margin: auto;
}
#inc:hover{
    color: black;
    background-color: red;
}
#dec{
    color: rgb(232, 73, 100);
    background-color: paleturquoise;
    width: 76px;
    margin: auto;
    border-radius: 5px;
    text-align: center;
}
#dec:hover{
    color: paleturquoise;
    background-color: rgb(232, 73, 100);
}
#random{
    color: orange;
    background-color: gray;
    width: 76px;
    margin: auto;
    border-radius: 5px;
    text-align: center;
}
#random:hover{
    color: gray;
    background-color: orange;
}
#ko{
    color: blue;
    background-color: hotpink;
    width: 76px;
    margin: auto;
    border-radius: 5px;
    text-align: center;
}
#ko:hover{
    color: hotpink;
    background-color: blue;
}
div{
    gap: 4px;
}